@media (min-width: 768px) and (max-width: 1017px) {
    .menu-encabezado {
        justify-content: flex-end;
    }
}
@media (max-width: 768px) {
    .barra-accesos {
        justify-content: space-around;
        min-height: 9vh;
        font-size: 16px;
    }
    .servicios-caja-sup, .servicios-caja-inf {
        flex-direction: column;
        padding: 0;
    }
    .servicios-container {
        padding: 10px;
    }
    .servicio-titulo {
        margin: 0;
    }
    .servicios-span {
        flex-direction: row;
        height: 60px;
        width: 240px;
        justify-content: flex-start;
        margin: 10px 0px 0px 0px;
    }
    .span-icono img {
        width: 45px;
        height: 45px;
    }
    .span-icono, .span-leyenda {
        margin-left: 17px;
        text-align: start;
    }
    .menu-encabezado {
        justify-content: flex-end;
    }
    .menu-izq h3 {
        font-size: 2.6rem;
    }
}

/* Página de promos */
/* CSS for mobile responsive */
@media (max-width: 768px) {
    .slideContainer {
        width: 100%;
        padding: 0 15px;
    }
    .slide {
        background-position-x: 30%;
    }
    .titulo-promo {
        font-size: 23px;
        position: absolute;
        top: 23px;
        left: 15px;
        -webkit-text-stroke: 1px rgb(255, 255, 255);
    }
    .slide .content {
        height: 80%;
        width: 80%;
    }

    .slide .box-contend {
        width: 290px;
        right: 4%;
        height: 300px;
        bottom: 10%;
        justify-content: center;
    }
    .slide .content h1 {
        font-size: 1.7rem;
    }
    .slide .content p {
        font-size: 1rem;
    }
/* index */
.exposi-container {
    height: 90vw;
}
.slider-img {
    width: 60%;
    background-position: 0px 0vw;
}


/* para el footer */
    .bottom-container .bottom.caja-izq {
        display: none;
    }

    .bottom-container .bottom.caja-dch{
        height: 80%;
        width: 80%;
    }


    /* Pag quienes */

    .quienes-container {
    height: 70vw !important;
    background-position-x: -15vw;

}

}
